*{
  background-color: rgb(247, 156, 200);
  text-align: center;
}

input{
  border: solid 2px;
  background-color: rgb(240, 248, 165);
}
#submit{
  border-radius: 25%;
  background-color: rgb(114, 245, 245);
}
#list{
  border: solid 7px;
  border-color:rgb(134, 245, 144)
}
#item{
  border: solid 3px;
}